.aboutcontainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
.name{
    width: 48vw;
    margin-bottom: -24vw;
    z-index: 0;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1c1b14;
}

@media only screen and (max-width: 550px) {
.profile{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #1c1b14;
}
.copy{
    color: #fafafa;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    font-size: 4.5vw;
    background-color: #1c1b14;
    width: 400px;
    z-index: 1;
    text-align: center;
}
.portrait{
    background-color: #1c1b14;
    width: 50vw;
    z-index: 1;
}
}

.divider{
    margin-top: 64px;
    margin-bottom: 64px;
    color: #fafafa;
    border-style: solid;
    border-width: 1px;
}
@media only screen and (min-width: 551px) {
.copy{
    color: #fafafa;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    font-size: 2.3vw;
    background-color: #1c1b14;
    width: 25vw;
    z-index: 1;
}
.portrait{
    background-color: #1c1b14;
    width: 25vw;
    z-index: 1;
}
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    width: 60vw;
}