.header{
    color: #fafafa;
    width: 50vw;
    margin-bottom: 64px;
}
.divider{
    margin-top: 64px;
    margin-bottom: 64px;
    color: #fafafa;
    border-style: solid;
    border-width: 1px;
}

.subdivider{
    margin-right: 32px;
    color: #fafafa;
    border-style: solid;
    border-width: 1px;
}

.title{
    font-size: 33px;
    text-align: left;
    margin-bottom: 32px;
}



@media only screen and (max-width: 550px) {
.content{
    display: flex;
    flex-direction: column;
}
.desc{
    font-size: 18px;
    text-align: left;
    font-weight: 300;
    width: 50vw;
}
.info{
    width: 50vw;
    margin-bottom: 32px;
}
}

@media only screen and (min-width: 551px) {
    .content{
        display: flex;
        flex-direction: row;
    }
    .desc{
        font-size: 18px;
        text-align: right;
        font-weight: 300;
        width: 25vw;
    }
    .info{
        width: 25vw;
    }
    }
.subtitle{
    font-size: 24px;
    text-align: left;
}

.attributes{
    font-size: 18px;
    font-weight: 300;
    text-align: left;
}

