.projectbutton {

    background-color: #fafafa;
    color:#1C1B14;
    border-radius: 10px;
    min-width: 250px;
    min-height: 250px;
    margin: 16px;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 14px -5px #919191;
    border: none;
}

.projectbutton:hover {
    background-color: #1C1B14;
    color:#fafafa;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
   
    cursor: pointer;
}