.projectbutton {
    background-color: #1C1B14;
    color:#fafafa;
    border-radius: 10px;
    min-width: 150px;
    min-height: 150px;
    margin: 16px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border: none;
}

.projectbutton:hover {
    background-color: #83f18e;
    color:#1C1B14;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
   
    cursor: pointer;
}