.card {
    background-color: #1C1B14;
    color:#fafafa;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}