.card{
    background-color: #1f1d17;
    width: 250px;
    border-radius: 12px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.card:hover{
    background-color: #222019;
}
.icon{
    width: 125px;
    height: 125px;
    margin: 32px;
}

.title{
    color: #fafafa;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    font-size: 26px;
}

.copy{
    color: #fafafa;
    font-family: 'Noto Serif JP', serif;
    font-weight: 200;
    font-size: 14px;
    text-align: center;
    margin: 32px;
}