body{
    margin: 0;
    background-color: #1C1B14;
    color: #1C1B14;
    font-family: 'Noto Serif JP', serif;
    font-weight: 900;
}
.app{
    background-color: #1C1B14;
}
.hero{
    background-color: #1C1B14;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 16px;
}
.logo{
    width: 30vw;
    margin-top: 10vh;

}
.arrow{
    height: 5vh;
    margin-top: 124px;
}
.section{
    background-color: #1C1B14;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 33vw;
    margin-left: auto;
    margin-right: auto;

}
.skills{
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;

}

.intro{
    background-color: #1C1B14;
    color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 14pt;
    font-weight: 900;
}

.footer {
    background-color: #1C1B14;
    color: #fafafa;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50vh;
    padding: 32px;
}