.placeholder{
    background-color: #1C1B14;
    color: #54ded0;
    width: 58vw;
    font-size: 24pt;
    font-weight: bold;
    border-radius: 10px;
    border-width: 2px;
    margin-bottom: 64px;
    margin-left: 64px;
    margin-right: 64px;
}