.placeholder{
    background-color: #f5f5f5;
    color: #1C1B14;
    width: 58vw;
    font-size: 12pt;
    border-radius: 10px;
    border-width: 2px;
    margin-bottom: 64px;
    margin-left: 64px;
    margin-right: 64px;
}