.bodyCopy {
    font-size: 15pt;
    width: 50vw;
}

.image{
    max-width: 80vw;
    height: auto;
}

.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}